# Variables de entorno para Vercel
# NO subas este archivo con valores reales a Git

API_BASE_URL=http://152.200.146.226:50010
API_USERNAME=powerbi
API_PASSWORD=tu_password
PROXY_API_KEY=clave_segura_para_powerbi
